.csfeatures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
}

.csplayers {
    background-color: #eee3d7;
    opacity: 1;
    transition-duration: 0.2;
    background-color: #f7f7f7;
    width: 217px;
    height: 160px;
    opacity: initial;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    border-radius: 7px;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.csplayers:hover {
    background-color: #eee3d7;
    opacity: 1;
    transition-duration: 0.2s
}

.csplayersimg {
    width: 17,5%;
    width: 100px;
    height: 100px;
    padding: 0 0px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.playerdevice {
    width: 100%;
    width: 50px;
    height: 50px;
    padding: 0 0px;
    object-fit:fill;
    overflow: hidden;
    vertical-align: center;
}

.playerdevice1 {
    width: 100%;
    width: 28px;
    height: 28px;
    padding: 0 0px;
    object-fit:fill;
    overflow: hidden;
    vertical-align: center;
}

#parent {
    position: absolute;
    padding-bottom: 50px;
 }

.socialicons {
    padding-top: 5px;
    fill: green;
    padding-bottom: 0px;
 }
.socials {
    width: 17,5%;
    width: 25px;
    height: 25px;
    padding: 0 0px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-bottom: 0px;
    color: rgb(152, 155, 174);
    position: relative;
    bottom: 0;
}

.csplayerlisttitle { 
    display: block;
    font-family: Activist, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: rgb(0, 0, 0);
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: left;
    
} 

.csplayerlisttitle1 { 
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: rgb(152, 155, 174);
    margin-top: 6px;
    margin-bottom: 6px;
}

.discord { 
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: rgb(152, 155, 174);
    margin-top: 6px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: flex;
    padding-top: 34px;
}

.discord1 {
    padding-left: 5px;
    vertical-align: middle;
    padding-top: 5px;
}

.csplayerlisttitle11 { 
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: rgb(152, 155, 174);
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 8px;
}

.csplayerlisttitle111 { 
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: black;
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: center;
    padding-bottom: 8px;
}

.intro1 {
    width: 100%;
    width: 1350px;
    display: flex;
    margin: auto auto;
    float: center;   
}

.flexic{
    display: flex;
}

.smallinfo11 {
    background-color:#f7f7f7;
    background-clip: content-box;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 40%;
    border-radius: 5px;
    
}

.leftside{
    width: 100%;
    margin: 15 15 0 15;
    display: flex;
}

/* .everyperson {
    height: min-content;
} */

/* .csplayers:not(:nth-child(5n)){
    margin-right: 26px;
  } */

.something{
    padding: 0 0 0 20px;
    vertical-align: middle;
    text-align: right;
    text-align: end;
    border-color: lightblue;
    border-style: 5px solid transparent;
    display: flex;
 
}

.smallinfo {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 150px;
    vertical-align: middle;
    display: flex;
    background-color:#f7f7f7;
    background-clip: content-box;
    border-radius: 5px;
    
}

@media (max-width: 1200px)
{
    .p50perc1 {
        font-size: 20px;
    }

    .imgup {
        height: 15px;
    }

    .leftside {
        font-size: 20px;
    }

    .csplayers {
        width: 293px;
        height: 200px;
        opacity: initial;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 15px;
        padding-top: 10px;
        margin-left: 30px;
        margin-bottom: 20px;
        text-align: left;
        display: flex;
    }

    .csplayersimg {
        width: 150px;
        height: 150px;
    }

    .playerdevice {
        width: 100%;
        width: 160px;
        height: 160px;
    }

  
}

@media (max-width: 600px)
{
    .smallinfo {
        padding-top: 100px;
    }
    
    .p50perc1 {
        font-size: 40px;
    }

    .imgup {
        height: 38px;
    }

    .leftside {
        font-size: 40px;
    }

    .csplayers {
        width: 920px;
        height: 150px;
        opacity: initial;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 15px;
        padding-top: 10px;
        margin-left: 30px;
        margin-bottom: 20px;
        text-align: left;
        display: flex;
    }

    .csplayersimg {
        width: 190px;
        height: 190px;
    }

    .playerdevice {
        width: 100%;
        width: 130px;
        height: 130px;
    }

    .csplayerlisttitle {
        font-size: 60px;
        padding-bottom: 30px;
    }

    .csplayerlisttitle1 {
        font-size: 50px;
    }

    .try {
        display: flex;
        vertical-align: middle;
        height: 210px;
    }

    .try1 {
        vertical-align: middle;
        height: 210px;
    }

    .socials {
        width: 17,5%;
        width: 50px;
        height: 50px;
    }

    #parent {
        position: relative;
        padding-bottom: 50px;
    }

    .imgnav {
        padding-left: 30px;
    }
}