body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    opacity: 0;
	transition: 0.5s;
	animation: show 1s 1;
    animation-fill-mode: forwards;
}

@keyframes show{
 0%{ opacity:0.3; }
 100% { opacity:1; }

}

.intro {
    width: 100%;
    max-width: 1350px;
    margin: auto auto;
    margin-left: auto;
    margin-right: auto;
    float: center;    
}

/* .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #252525;
    padding: 45px 0;
    margin-bottom: 300px;
} */

a {
    text-decoration: none;
}