body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #161b22;
    padding: 45px 0;
    margin-bottom: 300px;
}
.imgnav {
    height: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 18px;
    font-weight:normal;
}

.nav__link {
    margin-left: 100px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link1 {
    margin-left: 100px;
    color: red;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link2 {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
    animation: blur .75s ease-out infinite;
}

.area {
    text-align: center;
    font-size: 6.5em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    
}

.menuicon {
    padding-right: 2px;
    height: 22px;
    vertical-align: top;
}

@media (min-width: 601px) and (max-width: 1200px)
{
    .nav__link {
        margin-left: 80px;
    }

    .nav__link1 {
        margin-left: 80px;
    }

    .nav {
        font-size: 24px;
    }

}

@media (max-width: 600px) 
{
    .imgnav {
        height: 110px;
    }
    .nav {
        display: none;
    }
}