body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #252525;
    padding: 45px 0;
    margin-bottom: 300px;
}
.imgnav {
    height: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav {
    display: flex;
    font-size: 18px;
    font-weight:normal;
}

.nav__link {
    margin-left: 100px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}

.nav__link1 {
    margin-left: 100px;
    color: red;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    
}

.menuicon {
    padding-right: 2px;
    height: 22px;
    vertical-align: top;
}